<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SSLSlideNav.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7C4113541C65986300E3A777</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C41136D1C65986300E3A777</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C4113781C65986300E3A777</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
